* {
  box-sizing: border-box;
}

html,
body,
#root,
.App {
  height: 100%;
  width: 100%;
  font-size: 18px;
  font-family: "Russo One", sans-serif;
  letter-spacing: 1.5px;
  color: #f0f8ff;
  background-color: #257c89;
}

.header {
  min-height: 18%;
  padding-top: 2.5%;
}

.header h1 {
  letter-spacing: 2px;
  padding: 0.8rem;
  margin: 0 auto;
  max-width: 23rem;
  min-height: 4rem;
  font-family: "Slackey", sans-serif;
  background-color: #3a3a3a;
  border-radius: 1.75rem;
  text-align: center;
  font-size: 2.5rem;
}

.tic {
  color: #f2aa84;
}

.toe {
  color: #ffdc6d;
}
